<h1>
	Leave your comment
</h1>
{{pizza}}
<a href="/about">Go to about page</a>
<form action="commentform" method="POST">
	<label>
		<input type="text" name="userName" placeholder="Enter your name" />
	</label>
	<br>
	<label>
		<input type="email" name="userEmail" placeholder="Enter your email" />
	</label>
	<br>

	<label>
		<input type="password" name="userPassword" placeholder="Enter your password" />
	</label>
	<br>

	<label>
		<textarea name="userMessage" placeholder="Enter your message"></textarea>
	</label>
	<br>

	<button type="submit">
		Submit
	</button>
</form>